.projects {
    height: 100vh;
    padding-top: 30px;
}

.projectCardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.projectCard {
    max-width: 300px;
    max-height: 370px;
    text-align: center;
    background-color: gainsboro !important;
}

.projectMedia {
    width: 300px;
    height: 167px;
}

#projectLink {
    color: rgb(63,81,181);
}

#projectLink:hover{
    color: rgb(48, 63, 159);
    text-decoration: none;
}