.skills {
    margin: 25px;
    text-align: center;
}

.skills ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 25px;
}

.skills li {
    list-style-type: none;
}