.contact {
    height: 100vh;
    padding-top: 30px;
    margin-bottom: 50px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contactStack {
   display: flex;
   justify-content: space-between;
   width: 70%;
   flex-flow: row wrap;
   flex-wrap: wrap;
   margin: 0px;
}

@media only screen and (max-width: 600px) {
    #nameInput {
        width: 400px;
    }

    #emailInput {
        width: 400px;
    }
}

@media only screen and (min-width: 601px) {
    #nameInput {
        width: 300px;
    }

    #emailInput {
        width: 300px;
    }
}

.contactMessage {
    width: 70%;
}

#sendButton {
    border: thin solid var(--header-bg-color);
    border-radius: 15px;
    background-color: var(--header-bg-color);
    color: white;
}

#sendButton:hover {
    background-color: transparent;
    color: var(--header-bg-color);
}




/* .contact-form {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    color: black;
}

.contact-header {
    font-weight: 500;
    font-style: italic;
    text-transform: lowercase;
}

.contact-inputs {
    display: flex;
    justify-content: space-between;
}

.contact-button-container {
    text-align: center;
}

#contact-submit-button {
    background-color: rgb(33,33,33);
    text-transform: lowercase;
    font-weight: 700;
} */