.header {
    /* background: url('../../Assets/Images/whiteRiver.jpg') center top; */
    background: url('../../Assets/Images/Haystack\ Mtn.jpg') center top;
    background-size: cover;
    margin: 0;
    color: black;
    height: 100vh;
}

.titleText {
    position: absolute;
    text-align: right;
    top: 80px;
    right: 280px;

    font-family: saudagar;
    font-size: x-large;
    letter-spacing: .5em;
}