.header {
    background: url('../../Assets/Haystack\ Mtn.jpg') center top;
    background-size: cover;
    margin: 0;
    color: black;
    height: 100vh;
}

.titleText {
    position: absolute;
    text-align: right;
    top: 80px;
    right: 280px;

    font-size: x-large;
}