/* MOBILE VIEW */
@media only screen and (max-width: 600px) {
  .header {
    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);     
}

.titleText {
    color: white;
    text-align: center;
    padding-top: 50%;
  }

  .navContainer {
      color: white;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 601px) {
    .header {
        /* background: url('../../Assets/Haystack\ Mtn.jpg') center top; */

        /* The following code was taken from this handy app: */
        /* https://hero-generator.netlify.app */

        /* background: radial-gradient(ellipse at center,
         rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%),
          url('../../Assets/Haystack\ Mtn.jpg') no-repeat center center scroll; */

        background: linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.65) 100%), 
        url('../../Assets/Haystack\ Mtn.jpg') no-repeat center center scroll;


    }

    .titleText {
        position: absolute;
        text-align: right;
        top: 85px;
        right: 250px;
    
        font-size: x-large;
    }
}

.header {
    background-size: cover;
    margin: 0;
    color: black;
    height: 100vh;
}