.myNavbar {
    position: fixed;  
    width: 100%;
    z-index: 5;
}

/* push navlinks to the right on mobile */
.navbar-collapse {
    text-align: right;
}

.nav-link, .navbar-brand {
    color: inherit !important;
}

a.nav-link:hover {
    color: white !important;
    background-color: rgba(39, 39, 39, 0.432);
}

a.navbar-brand:hover {
    color: black !important;
}