.navbar {
    height: 10vh;
    z-index: 5;
    position: fixed;
    width: 100%;
    display: flex;
}

.otherNav {
    text-align: left;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    width: 50%;    
}

.pageNav {
    text-align: right;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    width: 50%;
}

.navbar li {
    display: inline;
    margin-right: 5%;
    margin-left: 5%;
}