.aboutTotal {
    height: 100vh;
    padding-top: 60px;
}

.about {
    margin: 25px;
}

.aboutText {
    margin: 30px 50px auto 50px;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .about {
        margin: 0;
    }
    .aboutText {
        text-align: center;
    }
}