.skills {
    margin: 25px;
    text-align: center;
    /* height: 100%; */
}

.skills ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 25px;
}

.skills li {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .skills ul {
        flex-flow: column wrap;
        padding: 0 25px 0 25px;
        margin-top: 0;
    }
    .skills li {
        /* margin: 5px; */
        /* width: 100%; */
    }
    .skills p {
        display: inline;
        margin: 5px;
    }
    .skillName {
        float: left;
    }
    .skillIcon {
        float: right;
    }
}