.skills {
    margin: 20px;
    text-align: center;
    width: 60%;
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.skills li {
    list-style-type: none;
    margin: 0 50px 0 0;
}

@media screen and (max-width: 600px) {
    .skills {
        width: 75%;
    }
    .skills li {
        margin: inherit;
    }
}