@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    /* COLOR INFO */
    /* https://www.colorhexa.com/2d4466 */

    /* background-color: rgb(45,102,79); */
    /* background-color: rgb(103, 76, 45); */
    /* background-color: rgb(102,45,68); */

        background: linear-gradient(white, whitesmoke);     
        font-family: var(--body-font);

}

.sectionHeader {
  color: var(--header-font-color);
  font-family: var(--header-font);
  text-align: center;
}

.sectionHr {
  width: 60%;
  margin: 40px auto 40px auto;
  border-color: var(--header-font-color);
  border-width: thin;
}

:root {
  --header-font-color: rgb(45,68,102);
  --header-font: 'Kalam', cursive;
  --body-font: 'Open Sans', sans-serif;
}